@charset "utf-8";
/* CSS Document */
 
*{
	margin: 0;
	padding: 0;
}
body{cursor:url("image/icons8-cursor-64-_1_.cur"),auto;
	
 }
 
#head{
	width: 100%;height: 150px;background-color:black;
 	font-family: "Hoefler Text";margin:0 auto;
	border-bottom: 5px solid rgba(249,249,249,1.00);
}
#head h1{
	width: 15%;font-size: 50px;float: left;padding: 40px;color:darkgoldenrod;}
.text-right{
	width: 40%;float: left;height: 150px;}

.text-right ul{
/*	 list-style: none;*/
	margin: 10px 30px;
	 
}
.text-right ul li{
	display: inline-block;
/*	margin-right: 50px;*/
}
.text-right ul li a{
	font-size: 20px;font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	color: darkgoldenrod;
	float: left;
	padding-left: 50px;
	padding-top: 20px;
}
.text-right ul li a:hover{
	color:white;
}
.card{
	width: 35%;height: 100px;float:left;color:darkgoldenrod;font-size: 12px; }
 
.color{
	margin-top: 30px;
}
.card ul{
	list-style: none;
	padding-top: 10px;
	 }
.card ul li{
	width: 25px; height: 25px;border-radius:50%;float: left;border: 1.2px solid #F1EFEF;margin-right: 25px;}
.card ul li a{
	  color:rgba(0,0,0,0.00);
	font-size: 20px;
	font-weight: 900;
	padding: 7px;
}
 .audio{float:right; }
#banner1{
	width: 100%;height: 90px;background-color:darkgoldenrod;margin:0 auto;text-align: center;color: black;font-weight:800;font-size:70px;padding: 10px;border-bottom: 5px solid rgba(251,251,251,1.00);line-height: 90px;
	letter-spacing: 20px;
    text-shadow: 3px 3px 3px white;
	 }
#banner{
	width: 100%;height: 800px; margin: 0 auto; text-align: center ;background-image: url("image/1.jpg"); }
.noidung{
	width: 500px;height: 500px;font-size:25px;color:black; padding-top: 240px;padding-left: 450px;
 }
.noidung h2 a{
	width: 140px;height: 20px; font-size: 20px;text-decoration: none;color: white;font-weight: 100;margin-left: 150px;margin-top: 40px;
	border: 1px dotted rgba(182,159,9,1.00);padding: 3px;letter-spacing: 5px; 
}
.noidung h2 a:hover{
	background-color: darkgoldenrod;
}
#gallery{
	width: 100%;height: 850px; background-color: black;margin: 0 auto;
    position: relative;
}
 .noidungg h1{
	width: 450px;height: 60px; font-size: 40px;color: black;margin-left: 500px;margin-top: 40px;
	border: 2px solid rgba(182,159,9,1.00);
	 padding-top: 10px ;padding-left: 40px;letter-spacing: 9px;
	 position: absolute;z-index: 1000;
	 
}
.noidungg .best{
	 width: 500px;height: 70px; font-size: 20px;text-decoration: none;color:black;margin-left: 480px; 
	 padding-top: 130px ;padding-left: 100px;letter-spacing: 2px; 
	 position: absolute;z-index: 1000;
}
.noidungg video{
	width: 100%;adding-right: 80px;

	position: relative;z-index: 100;
}
#gallery1{
	width: 100%;height: 1400px; padding-left:30px   ;background-color:black; margin: 0 auto;
 }
.hcm{
	width: 100%;
}
.main1{
	width: 100%;margin-top: 20px;
}
.hinh1 img{
	margin-right: 20px;
}
.main2{
	width: 100%;
	margin-top: 20px;
}
.hinh2 img{
	margin-right: 20px;
}
#gallery3{
	width: 100%;height: 660px; padding:10px;margin: 0 auto;
 background-image: url("image/17.jpg");}
.nd3 h1{
	  width: 290px;height: 40px; font-size: 30px;color: white ;margin-left: 590px;margin-top: 15px;
	border: 2px solid rgba(182,159,9,1.00);padding-top: 10px ;padding-left: 20px;letter-spacing: 10px; 
	
}
.hinh3 img{
	margin-left: 80px;margin-top: 40px;
}
#gallery4{
	width: 100%;height: 1430px; padding:10px;margin: 0 auto;
  background-color: white;position: relative;}
.nd4{
	position: absolute;z-index: 50; 
}
.nd4 h1{
	  width: 380px;height: 45px; font-size: 30px; color:black;margin-left: 540px;margin-top: 15px;
	border: 2px solid rgba(182,159,9,1.00);padding-top: 10px ;padding-left: 25px;letter-spacing: 10px; 
	
}
.hinh4 img{
	left: 900px;top: 365px; position:absolute;z-index: 100;
}
.hinh41{
	width: 100%;
}
.lef{
	margin-top: 1000px;position: absolute;z-index: 50; left: 40px;}
.rig{
	position: absolute;z-index: 100;margin-top: 760px;left: 580px;}
#gallery5{
	width: 100%; height: 1980px;background-color: rgba(20,18,18,1.00); margin: 0 auto; padding-top: 30px;
}
.nd5{
	width: 100%;color:rgba(71,69,69,1.00);letter-spacing: 10px;
	
}
.hinh51{
	width: 50%;float: right; text-align: center;
}
.hinh5{
	width:50%;float: left;  text-align: center;
}
#footer{
	width: 100%px;height: 30px;background:#000000;color:darkgoldenrod;padding: 50px 80px;}
.hinhmangxh{
			float: right;width: 60px;height: 50px;}
 
